<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--=============== FAVICON ===============-->

    <!--=============== ICON ===============-->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!--===============  ===============-->

    <title>Chat Tp</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="./chat_client.css" />
  </head>
  <body>
    <section class="chat">
      <div class="pane_left">
        <div class="container_head_pane_left">
          <h1>Chat</h1>
        </div>
        <div class="search">
          <input id="search" type="text" />
        </div>
        <div class="container_user"></div>
      </div>
      <div class="pane_right">
        <div class="container_head_pane_right">
          <div class="boder_img_user">
            
          </div>
          <div class="boder_name_user">
            <p id="input_user_name">your name</p>
            <input
              autocomplete="off"
              minlength="1"
              maxlength="8"
              type="text"
              id="input_name"
              placeholder="Your Name"
            />
            <button id="butt_accept_name">accept</button>
          </div>
          <div class="boder_log_out">
            <i class="bx bx-log-out"></i>
          </div>
        </div>
        <div class="container_content_chat"></div>
        <div class="container_tools_iput">
          <input id="input_chat" type="text" />
          <div class="border_send">
            <i class="bx bx-send send"></i>
          </div>
        </div>
      </div>
    </section>

    <script
      src="/socket.io/socket.io.js"
      integrity="sha512-9mpsATI0KClwt+xVZfbcf2lJ8IFBAwsubJ6mI3rtULwyM3fBmQFzj0It4tGqxLOGQwGfJdk/G+fANnxfq9/cew=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script src="./chat.js"></script>
  </body>
</html>
